body{
margin:0;
font-family:Arial;
background:#0e0e0e;
overflow:hidden;
}

#boardContainer{
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
overflow:auto;
}

#board{
width:8000px;
height:8000px;
background:white;
position:relative;
}

.node{
position:absolute;
background:white;
border:2px solid black;
border-radius:8px;
padding:8px;
min-width:150px;
min-height:80px;
resize:both;
overflow:auto;
cursor:move;
}

.node img{
max-width:100%;
}

#connections{
position:absolute;
width:8000px;
height:8000px;
pointer-events:none;
}

button{
width:60px;
height:60px;
font-size:22px;
border:none;
background:#222;
color:white;
border-radius:12px;
}

button:hover{
background:#444;
}

/* LANDSCAPE TOOLBAR */

@media (orientation:landscape){

#toolbar{

position:fixed;
left:0;
top:0;
bottom:0;
width:80px;

display:flex;
flex-direction:column;
gap:10px;

background:#111;
padding:10px;

}

}

/* PORTRAIT TOOLBAR */

@media (orientation:portrait){

#toolbar{

position:fixed;
bottom:0;
left:0;
right:0;
height:80px;

display:flex;
flex-direction:row;
justify-content:center;
gap:10px;

background:#111;
padding:10px;

}

  }
